Source: zimg
Priority: optional
Maintainer: Jan Ekström <jeebjp@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/sekrit-twc/zimg
#Vcs-Git: https://github.com/jeeb/zimg.git
#Vcs-Browser: https://github.com/jeeb/zimg

Package: libzimg
Architecture: all
Depends: libzimg2 (<< ${source:Version}.1~), ${misc:Depends}
Description: Zimg scaling, colorspace, depth conversion library
 This is a dependency package to install libzimg2.

Package: libzimg-doc
Architecture: all
Multi-Arch: foreign
Section: doc
Depends: ${misc:Depends}
Description: Zimg scaling, colorspace, depth conversion library
 This package provides extra documentation and examples for the "z" library.

Package: libzimg-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libzimg2 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libzimg
 Library, pkg-config and header files for libzimg development.

Package: libzimg2
Architecture: any
Multi-Arch: same
Provides: libzimg
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zimg scaling, colorspace, depth conversion library
 The "z" library implements the commonly required image processing basics of
 scaling, colorspace conversion, and depth conversion. A simple API enables
 conversion between any supported formats to operate with minimal knowledge
 from the programmer.
